<section class="  ">
    <div id="" class="" data-ride="">
     
    <!-- Seção de Login -->
    <section class="login_section layout_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">

                        <div class="card-header">
                            <h1>Login</h1>
                        </div>

                        <!-- Formulário de Login -->
                        <div class="card-body">
                            <form method="post" action="{% url 'user_login' %}">
                                {% csrf_token %}

                             <!-- Email -->
                                <div class="form-group">
                                    <label for="{{ form.email.id_for_label }}">Email:</label><br>
                                    {{ form.email }}
                                </div>

                                <!-- Senha -->
                                <div class="form-group">
                                    <label for="{{ form.password.id_for_label }}">Senha:</label><br>
                                    {{ form.password }}
                                </div>
                                    
                                <button type="submit">Login</button>
                            </form>
                            <!-- Fim do Formulário de Login -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</section>
<!-- Fim da Seção de Login -->
        