<section class="  ">
    <div id="" class="" data-ride="">
     
    <!-- Seção de Login -->
    <section class="login_section layout_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">

                        <div class="card-header">
                            <h1>Login</h1>
                        </div>

                        <div class="card-body">

                            <!-- Formulário de Login -->
                            <form>
                                <div class="form-group">

                            <!-- Email -->
                            <div class="form-group">
                                <label for="{{ user_form.email.id_for_label }}">Email:</label><br>
                                {{ user_form.email }}
                            </div>

                            <!-- Senha -->
                            <div class="form-group">
                                <label for="{{ user_form.password.id_for_label }}">Senha:</label><br>
                                {{ user_form.password }}
                            </div>

                            </form>
                            <!-- Fim do Formulário de Login -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</section>
<!-- Fim da Seção de Login -->
        