{% load static %}

<!-- client section -->
<section class="client_section layout_padding">
    <div class="container">
      <h2>
        O Que Nossos Catadores Dizem
      </h2>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="client_container layout_padding2">
              <div class="client_text">
                <p>
                  "Adoro fazer parte da Eco-Mundo! É incrível ver como minhas pequenas ações diárias de reciclagem têm um impacto real no meio ambiente. 
                  As recompensas são um bônus adicional que me incentiva a fazer ainda mais!"
                </p>
              </div>
              <div class="detail-box">
                <div class="img-box">
                  <img src="{% static 'images/collector-1.png' %}" alt=""/>
                </div>
                <div class="name">
                  <h5>
                    Pedro Maia
                  </h5>
                  <p>
                    Catador a 3 anos
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="client_container layout_padding2">
              <div class="client_text">
                <p>
                  "Sempre fui apaixonada por práticas sustentáveis, e a Eco-Mundo tornou isso ainda mais fácil. 
                  A transparência no sistema de recompensas e o compromisso com a comunidade são inspiradores. Recomendo a todos!"
                </p>
              </div>
              <div class="detail-box">
                <div class="img-box">
                  <img src="{% static 'images/collector-2.jpg' %}" alt=""/>
                </div>
                <div class="name">
                  <h5>
                    Ana Luíza
                  </h5>
                  <p>
                    Catadora a 7 anos.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="client_container layout_padding2">
              <div class="client_text">
                <p>
                  "A Eco-Mundo transformou minha perspectiva sobre reciclagem. Agora vejo como é fácil fazer escolhas mais sustentáveis, e as 
                  recompensas tornam tudo ainda mais gratificante. Estou totalmente comprometido."
                </p>
              </div>
              <div class="detail-box">
                <div class="img-box">
                  <img src="{% static 'images/collector-3.jpg' %}" alt=""/>
                </div>
                <div class="name">
                  <h5>
                    Camilla Fonseca
                  </h5>
                  <p>
                    Catadora a 8 meses
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="sr-only">Next</span>
        </a>
      </div>

    </div>
  </section>

  <!-- end client section -->