{% load static %}

<div class="footer_bg">
    <!-- info section -->
    <section class="info_section layout_padding2-bottom">
        <div class="container">
        <h3 class="">
            Redes Sociais
        </h3>
        </div>
        <div class="container info_content">

        <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center align-items-lg-baseline">
            <div class="social-box">
            <a href="">
                <img src="{% static 'images/fb.png' %}"alt=""/>
            </a>

            <a href="">
                <img src="{% static 'images/twitter.png' %}" alt=""/>
            </a>
            <a href="">
                <img src="{% static 'images/linkedin.png' %}" alt=""/>
            </a>
            <a href="">
                <img src="{% static 'images/instagram.png' %}" alt=""/>
            </a>
            </div>       
        </div>

        </div>
    </section>
    <!-- end info_section -->

    <!-- footer section -->
    <section class="container-fluid footer_section">
        <p>
        © 2023 All Rights Reserved By
        <a href="https://www.github.com/rafaelfneves">Rafael Neves</a>
        </p>
    </section>
</div>
<!-- footer section -->