{% load static %}

<!-- header section strats -->
<header class="header_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="{% url 'index' %}">
              <span>
                Eco-Mundo
              </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div class="d-flex  flex-column flex-lg-row align-items-center">
                <!-- ======================== [NAV BAR] ======================== -->
                <ul class="navbar-nav  ">

                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">Início <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_login' %}">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Cadastro</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'vouchers' %}">Vouchers</a>
                  </li>

                </ul>
              </div>

            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>

  <!-- end header section -->