{% load static %}

<!--rewards Section -->
  <section id="rewards" class="rewards_section layout_padding">
    <div class="container">
      <div class="custom_heading-container">
        <h2>
          Sistema de Recompensas
        </h2>
      </div>
      <div class="layout_padding2">
        <div class="img-box">
          <img src="{% static 'images/achievement.png' %}" alt=""/>
        </div>
        <div class="detail-box">
          <p>
            <b>Como Funciona?</b><br><br>
            Os catadores acumulam pontuações com base em suas realizações mensais, refletindo a dedicação e consistência na coleta de resíduos. 
            Esses pontos não são apenas números; são testemunhos tangíveis de seu comprometimento com a sustentabilidade.
          </p><br>
          <p>
          <b>Parcerias Locais</b><br><br>

          Estabelecemos parcerias estratégicas com negócios locais comprometidos com a sustentabilidade, garantindo que as recompensas oferecidas 
          se alinhem aos valores eco-amigáveis do GreenLine.
          </p><br>
          <p>
          <b>Acompanhamento Transparente</b><br><br>

          Acreditamos na transparência. Os catadores têm acesso fácil e claro ao acompanhamento de suas pontuações, conquistas e resgates de vouchers por meio de uma plataforma intuitiva.
          
          <br><hr style="width: 95%; margin: 0 auto;">
          </p>
          <caption>
            Junte-se a nós no Eco-Mundo, onde suas ações pela sustentabilidade não só fazem a diferença no meio ambiente, 
            mas também proporcionam benefícios tangíveis para você e sua comunidade.
          </caption>
          <div>
            <a href="">
              Saiba Mais
            </a>
          </div>
        </div>
      </div>

    </div>
  </section>
<!-- end reward section -->

