{% load static %}

<!-- service section -->

<section  class="service_section">

    <div id="service" class="container">
      <div class="custom_heading-container">
        <h2>
          Nossos Serviços
        </h2>
      </div>
      <div class="service_container layout_padding2">
        <div class="service_box">
          <div class="img-box">
            <img src="{% static 'images/s-1.jpg' %}" alt=""/>
          </div>
          <div class="detail-box">
            <h4>
              Coleta <br/>
              Sustentável
            </h4>
            <p>
              Contribua para um futuro mais verde participando de nossa coleta sustentável. 
              Utilizamos métodos eco-amigáveis para garantir que cada item coletado tenha o menor impacto possível no meio ambiente.
            </p>
          </div>
        </div>
        <div class="service_box">
          <div class="img-box">
            <img src="{% static 'images/s-2.jpg' %}" alt=""/>
          </div>
          <div class="detail-box">
            <h4>
              Recompensas <br/>
              Eco-Amigáveis
            </h4>
            <p>
              Recicle e seja recompensado! Nosso programa de recompensas incentiva práticas sustentáveis. Cada ação positiva que você toma, 
              como a reciclagem, se traduz em benefícios tangíveis - descontos, pontos, e outras vantagens eco-amigáveis.
            </p>
          </div>
        </div>
        <div class="service_box">
          <div class="img-box">
            <img src="{% static 'images/s-3.png' %}" alt=""/>
          </div>
          <div class="detail-box">
            <h4>
              Redução de <br/>
              Impacto Ambiental
            </h4>
            <p>
              Ao escolher o Eco-Mundo, você está fazendo mais do que reciclar; você está reduzindo ativamente o impacto ambiental. Seja parte da 
              solução para um planeta mais saudável, onde cada pequena ação se soma para criar um impacto significativo
            </p>
          </div>
        </div>
      </div>
      <div>
        <a href="">
          Saiba Mais
        </a>
      </div>
    </div>

</section>

<!-- end service section -->
