<!-- slider section -->
<section class=" slider_section ">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">01</li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1">02</li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2">03</li>
      </ol>

      <div class="carousel-inner">

        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-lg-5 col-md-6">
                <div class="slider_detail-box">
                  <h1>
                    Transformando Ruas, <br/>
                    Recompensando Atitudes! <br/>
                  </h1>
                  <p>
                    Comece já a cuidar do planeta, clique no botão abaixo para ficar por dentro!
                  </p>
                  <div class="btn-box">
                    <a class="nav-link" href="#service">
                      Saiba Mais
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="slider_img-box">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-lg-5 col-md-6">
                <div class="slider_detail-box">
                  <h1>
                    Colabore,  <br/>
                    Recicle,  <br/>
                    Ganhe!
                  </h1>
                  <p>
                    Comece já a cuidar do planeta, clique no botão abaixo para ficar por dentro!
                  </p>
                  <div class="btn-box">
                    <a href="" class="btn-1">
                      Saiba Mais
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="slider_img-box">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-lg-5 col-md-6">
                <div class="slider_detail-box">
                  <h1>
                    Recicle Hoje, <br/>
                    Viva em um Mundo Melhor Amanhã!<br/>
                  </h1>
                  <p>
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi
                  </p>
                  <div class="btn-box">
                    <a href="" class="btn-1">
                      Saiba Mais
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="slider_img-box">
                </div>
              </div>
            </div>
          </div>  
        </div>

      </div>
      <div class="carousel_btn-container">
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </section>
  <!-- end slider section -->
