{% load static %}

<!-- welcome section -->
 <section class="welcome_section layout_padding">
    <div class="container">
      <div class="custom_heading-container">
        <h2>
          Bem vindos ao Eco-Mundo!
        </h2>
      </div>
      <div class="layout_padding2">
        <div class="img-box">
           <img src="{% static 'images/welcome.png' %}" alt="Bem-vindo">
        </div>
        <div class="detail-box">
          <p>
            A Eco-Mundo não apenas visa reduzir a presença de resíduos nas ruas, mas também busca incentivar e recompensar 
            aqueles que contribuem para a coleta desses materiais valiosos, encaminhando-os aos postos de reciclagem.
          </p>
          <div>
            <div id="about">
              <a id="" href="">
              Saiba Mais
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>