{% load static %}

<!-- why section -->

<section class="why_section layout_padding">
    <div class="container">
      <div class="custom_heading-container">
        <h2>
          Por que Escolher a Eco-Mundo?
        </h2>
      </div>
      <div class="content-container">
        <p>
          Escolher a Eco-Mundo significa fazer parte de algo maior - uma mudança positiva para o meio ambiente e para sua própria experiência diária.
          Junte-se a nós enquanto transformamos o ato de reciclar em uma jornada recompensadora e inspiradora.
        </p>
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="img-box">
              <img src="{% static 'images/environment.png' %}" alt=""/>
            </div>
            <div class="detail-box">
              <h3>
              </h3>
              <h6>
                COMPROMISSO COM O MEIO ABIENTE
              </h6>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="img-box">
              <img src="{% static 'images/transparency.png' %}" alt=""/>
            </div>
            <div class="detail-box">
              <h3>
              </h3>
              <h6>
                TRANSPARÊNCIA E RASTREABILIDADE
              </h6>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="img-box">
              <img src="{% static 'images/multiple-users-silhouette.png' %}" alt=""/>
            </div>
            <div class="detail-box">
              <h3>
              </h3>
              <h6>
                COMUNIDADE SUSTENTÁVEL
              </h6>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="img-box">
              <img src="{% static 'images/monitor.png' %}" alt=""/>
            </div>
            <div class="detail-box">
              <h3>
              </h3>
              <h6>
                FACILIDADE DE PARTICIPAÇÃO
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- end why section -->