{% extends 'base.html' %}

{% block title %}Addresses Home{% endblock %}

{% block body %}

  <h1>Addresses</h1>

  <form action="/addresses/" method="POST">
    {% csrf_token %}
    <label for="street">Street</label>
    <input type="text" name="street">
    <label for="number">Number</label>
    <input type="number" name="number">
    <label for="complement">Complement</label>
    <input type="text" name="complement">
    <label for="city">City</label>
    <input type="text" name="city">
    <label for="state">State</label>
    <input type="text" name="state">
    <label for="zip">Zip</label>
    <input type="text" name="zip">
    <button type="submit">Submit</button>
  </form>

  <ul>
    {% for address in addresses %}
      <li>
        {{ address.id }} - {{ address.street }}, {{ address.number }}{% if address.complement %}, {{ address.complement }} - {% else %} - {% endif %}{{ address.city }}, {{ address.state }}, {{ address.zip }}
      </li>
    {% endfor %}
  </ul>

{% endblock %}
