{% extends 'base.html' %}

{#============================ [HEAD] ============================#}
{% block head %}
<title>Atualizar Material</title>
{% endblock %}
{#============================ [BODY] ============================#}
{% block body %}
<div class="content">
    <a class="back-button" href="{{ url_for('materiais.listar_materiais') }}">Voltar</a>

    <h1>Editar Material</h1>
    
    <form method="POST" action="{{ url_for('materiais.atualizar_materiais', id=form.id.data) }}">
        {{ form.hidden_tag() }}
        {{ form.nome.label }}
        {{ form.nome(size=50) }}
        <br>

        {{ form.descricao.label }}
        {{ form.descricao(rows=4, cols=50) }}
        <br>

        {{ form.categoria.label }}
        {{ form.categoria(size=50) }}
        <br>

        {{ form.peso_medio_gramas.label }}
        {{ form.peso_medio_gramas }}
        <br>

        {{ form.valor_venda.label }}
        {{ form.valor_venda }}
        <br><br>
        <button type="submit" class="btn update-btn">Atualizar</button>
    </form>
</div>
{% endblock %}
{#================================================================#}