/* Verde Principal:

Código Hex: #4CAF50
Descrição: Um verde vibrante que transmite energia e vitalidade.
Verde Secundário:

Código Hex: #8BC34A
Descrição: Um verde mais claro e suave, associado à frescura e ao crescimento.
Destaque Verde:

Código Hex: #2E7D32
Descrição: Um tom mais escuro de verde para ser usado em elementos de destaque.
Fundo Neutro:

Código Hex: #F5F5F5
Descrição: Um cinza claro ou branco sujo para fundos, para garantir uma boa legibilidade do texto.
Acento de Terra:

Código Hex: #795548
Descrição: Um marrom terroso que pode ser usado para acentuar e adicionar contraste.
*/