body {
  font-family: Arial, sans-serif;
  background-color: #202020;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

h1 {
  text-align: center;
  padding: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

li {
  margin: 10px;
}

a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #30bd53;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin: 10px;
  transition: background-color 0.3s;
  border: 1px solid #fff;
  font-weight: bold;
}

a:hover {
  background-color: #ffffff1f;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"] {
  width: 95%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #4d4d4d;
  color: white;
}

select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/*================================================*/
.content {
  max-width: 50%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #111111;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 40px ; 
}



.custom-container {
  text-align: center;
  margin: 10px;
  text-align: center;
}

.back-button{
  background-color: rgb(163, 0, 0);
  font-weight: bold;
}

.back-button:hover {
  background-color: #6d0000;
}

.vertical-line {
  border-left: 2px solid #000; /* Cor e largura da linha vertical */
  margin: 0 20px; /* Espaçamento ao redor da linha vertical */
}


.date-label {
  font-size: 18px; /* Adjust font size as needed */
  color: #333; /* Text color */
  font-weight: bold; /* Make it bold */
  margin-bottom: 5px; /* Add some space at the bottom */
}

/*================================================*/

/* Style the table */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Style the table headers */
.table th {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: left;
}

/* Style the table data rows */
.table td {
  padding: 10px;
  border: 1px solid #ccc;
}

/* Add zebra striping to the table rows */
.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Style the table headers on hover */
.table th:hover {
  background-color: #555;
}

/* ====================== [BUTTONS] ======================*/
button {
  font-size: 12pt;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin: 10px;
  transition: background-color 0.3s;
  border: 1px solid #fff;
  font-weight: bold;
}

button:hover {
  background-color: #ffffff1f;
}

.btn-primary {
  display: inline-block;
  padding: 10px 20px;
  background-color: #30bd53;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin: 10px;
  transition: background-color 0.3s;
  border: 1px solid #fff;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #047500;
}

.update-btn {
  background: #017eb8; 
  margin: auto; 
  padding: 5px;
}

.delete-btn {
  background: #6d0000; 
  margin: auto; 
  padding: 5px;
}
/* ===================================================*/

.main-menu {
  font-size: 16pt;
}
