{% extends 'base.html' %}

{#============================ [HEAD] ============================#}
{% block head %}
<title>Cadastrar Catadores</title>
{% endblock %}
{#============================ [BODY] ============================#}
{% block body %}
<div class="content">
    <a class="back-button" href="{{ url_for('catadores.catadores') }}">Voltar</a>

    <h1>Cadastrar Catador</h1>

    <form method="POST">
        {{ form.hidden_tag() }}
        
        <label for="{{ form.name.cpf }}">Nome:</label>
        {{ form.nome(class="form-control") }}
        
        <label for="{{ form.surname.cpf }}">Sobrenome:</label>
        {{ form.sobrenome(class="form-control") }}
        
        <label for="birth_date">Birth Date:</label>
        {{ form.birth_date(class="form-control") }}
        <br>

        <label for="phone">Phone:</label>
        {{ form.phone(class="form-control") }}
        <br>

        <label for="email">Email:</label>
        {{ form.email(class="form-control") }}
        <br>

        <label for="years_of_experience">Years of Experience:</label>
        {{ form.years_of_experience(class="form-control") }}
        <br>

        <label for="working_area">Working Area:</label>
        {{ form.working_area(class="form-control") }}
        <br>
        <br><br>
        <div class="row main-menu">
        <br><br>

         <!-- Adicione campos de endereço -->
         <h1>Endereço</h1>
         <label for="street">Rua:</label>
         {{ form.address.street() }}
         <br>
 
         <label for="number">Número:</label>
         {{ form.address.number() }}
         <br>
 
         <label for="city">Cidade:</label>
         {{ form.address.city() }}
         <br>
 
         <label for="state">Estado:</label>
         {{ form.address.state() }}
         <br>
 
         <label for="zip_code">Código Postal:</label>
         {{ form.address.zip_code() }}
         <br>
 
         <input type="submit" value="Create Collector">
        <input type="submit" class="btn btn-primary custom-button" value="Cadastrar">
    </form>
</div>

{% endblock %}


{#================================================================#}