{% extends 'base.html' %}

{#============================ [HEAD] ============================#}
{% block head %}
<title>Listar Catadores</title>
{% endblock %}
{#============================ [BODY] ============================#}
{% block body %}
<div class="content">
    <a class="back-button" href="{{ url_for('catadores.catadores') }}">Voltar</a>

    <h1>Lista de Catadores</h1>

    {% if deleted %}
    <div class="alert alert-success">
        Catador deletado com sucesso!
    </div>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th>CPF</th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            {% for collector in collectors %}
            <tr>
                <td>{{ collector.cpf }}</td>
                <td>{{ collector.nome }}</td>
                <td>{{ collector.sobrenome }}</td>
                <td>
                    <a href="{{ url_for('collectors.atualizar_collectors', cpf=collector.cpf) }}" class="btn update-btn">Atualizar</a>
                    <a href="{{ url_for('collectors.deletar_collectors', cpf=collector.cpf) }}" class="btn delete-btn">Deletar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>

{% endblock %}
{#================================================================#}