<!DOCTYPE html>
<html lang="pt-br">
<head>
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <!-- Site Metas -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta charset="UTF-8">
  <meta name="keywords" content="TCC"/>
  <meta name="description" content="TCC"/>
  <meta name="author" content="Rafael"/>

  <title>{% block title %}Generic Title{% endblock %}</title>
  {% include 'main/css.html' %} 
  
  {% load static %}
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  
  {% block head %}{% endblock %}
</head>
<body>
  {% block body %}{% endblock %}
  {% include 'main/scripts.html' %}
</body>
</html>
