{% extends 'base.html' %}

{#============================ [HEAD] ============================#}
{% block head %}
<title>TCC Green Line</title>
{% endblock %}
{#============================ [BODY] ============================#}
{% block body %}
<div class="content">

    <h1>Inserir Catador</h1>
    <form method="POST">
        {{ form.csrf_token }}
        <label for="nome">Nome:</label>
        {{ form.nome.label }}
        {{ form.nome }}
        <br>
        <label for="sobrenome">Sobrenome:</label>
        {{ form.sobrenome.label }}
        {{ form.sobrenome }}
        <br>
        <!-- Adicione os campos restantes -->
        <br>
        <button type="submit">Inserir Catador</button>
    </form>
    

{% endblock %}
{#================================================================#}